{{#each losts as |lost|}}
<section class="card">
  <div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Lost!</div>
  <div class="card-body text-dark">
    <h5 class="card-title">{{lost.name}}</h5>
    <h5 class="card-title">{{lost.species}}</h5>
    <h5 class="card-title">{{lost.breed}}</h5>
    <h5 class="card-title">{{lost.sex}}</h5>
    <h5 class="card-title">{{lost.color}}</h5>
    <h5 class="card-title">{{lost.dateLost}}</h5>
    <h5 class="card-title">{{lost.city}}</h5>
    <h5 class="card-title">{{lost.weight}}</h5>
  </div>
</div>
</section>
{{/each}}