{{#each pets as |pet|}}
<section class="card">
  <div class="card border-dark mb-3">
  <div class="card-header">Found!</div>
  <div class="card-body text-white">
    <h5 class="card-title">{{pet.name}}</h5>
    <h5 class="card-title">{{pet.species}}</h5>
    <h5 class="card-title">{{pet.breed}}</h5>
    <h5 class="card-title">{{pet.sex}}</h5>
    <h5 class="card-title">{{pet.color}}</h5>
    <h5 class="card-title">{{pet.dateLost}}</h5>
    <h5 class="card-title">{{pet.city}}</h5>
    <h5 class="card-title">{{pet.weight}}</h5>
  </div>
</div>
</section>
{{/each}}