{{#each pets as |pet|}}
<section class="card">
  <div class="card border-dark mb-3">
  <div class="card-header">Found!</div>
  <div class="card-body text-white">
    <h5 class="card-title">Name: {{pet.name}}</h5>
    <h5 class="card-title">Breed: {{pet.breed}}</h5>
    <h5 class="card-title">Sex: {{pet.sex}}</h5>
    <h5 class="card-title">Color: {{pet.color}}</h5>
    <h5 class="card-title">Date Found: {{pet.dateLost}}</h5>
    <h5 class="card-title">City Found In: {{pet.city}}</h5>
    <h5 class="card-title">Size: {{pet.weight}}</h5>
    <h5 class="card-title">Fixed? {{pet.fixed}}</h5>
    <h5 class="card-title">Contact: {{pet.contact}}</h5>
  </div>
</div>
</section>
{{/each}}